<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ຜູ່ໃຊ້ທັງໝົດ</title>
    <link rel="stylesheet" href="../css/admin/ListViewVote.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../../src/css/menu.css">



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="grad">
        <div class="row" style="width: 100%;padding: 10px;">
            <div class="col-md-5">
                <img src="../images/names.png" width="100%" height="100%">
            </div>
            <div class="col-md-5" style="text-align: center;font-family: lao notisan; color:antiquewhite;">
                <!-- <h3 style="padding-top:2%;">ລະບົບໂຫວດທະນາຄານຮ່ວມທຸລະກີດລາວຫວຽດ</h3> -->
            </div>
            <div class="col-md-2" style="padding-left:5%;padding-top: 1%; text-align: end">
                <button class=" btn btn-danger my-2 my-sm-0" style="font-family:lao notisan;padding: 15px;"
                    type="button" onclick="menu()">ກັບສູ່ໜ້າຫຼັກ</button>
            </div>

        </div>
    </nav>
    <h1>ຜູ່ໃຊ້ທັງໝົດພາຍໃນລະບົບ</h1>
    <div id="tabel" class="tabel" name="data">
        <table class="table table-striped" id="data">
            <thead>
                <tr>
                    <th style="text-align: center" scope="col">ລຳດັບ </th>
                    <th style="text-align: center" scope="col">ອີເມວ </th>
                    <th style="text-align: center" scope="col">ລະຫັດຜ່ານ</th>
                    <th style="text-align: center" scope="col">ສະຖານະ</th>
                    <th style="text-align: center" scope="col">ສະຖານະການໂຫວດ</th>

                </tr>
            </thead>
            <tbody v-for="(value,index) in values" :key="index">
                <tr>
                    <td>{{index+1}}</td>
                    <td>{{value.email}}</td>
                    <td>{{value.pass}}</td>
                    <td>{{value.status}}</td>
                    <td>{{value.vote}}</td>
                </tr>
            </tbody>

            </tbody>
        </table>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
    <script src="../../api/database.js">
    </script>
    <script src="../../api/AllUser.js"></script>
</body>

</html>